---
import Section from "./Section.astro"
---

<Section
  title="Model Y"
  subtitle="Concertar una prueba de conducción"
  color="white"
  id="model-y"
>

  <div slot="subtitle">
		<!-- <a class="text-sm text-white">
			Concertar una prueba de conducción
		</a> -->
	</div>
  <div slot="footer" class="footer gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-black bg-black text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:bg-white hover:text-black"
      href="#"
    >
      Explorar inventario</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Model Y"
    class="h-full w-full object-cover object-center bg-image"
    src="https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg"
    id="bg-image-modely"
  />
</Section>




